.content {
    display: flex;
    margin: 100px auto 100px ;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.form-box {
    width: 300px;
    padding: 50px;
    background: #e8e7ec;
    text-align: center;
}

.form-title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #c2c0c9;
    padding: 14px 10px;
    width: 255px;
    outline: none;
    border-radius: 7px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 260px;
    border-color: #4181ca;
}

.form-box button[type="submit"] {
    border: 0;
    background: #13e61e;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #13e61e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
    text-transform: uppercase;
}

.form-box button[type="submit"]:hover {
    background: #2fd155;
}